<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.anzma.phonebookemails"
      version="0.1.0">
    <name>Phonebook Emails</name>
    <description>Sample Phonebook Emails Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,phonebook,emails</keywords>
    <js-module src="www/phonebook.js" name="Phonebook">
        <clobbers target="window.phonebook" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="phonebook">
                <param name="android-package" value="com.anzma.phonebook.Phonebook"/>
            </feature>
        </config-file>
 
        <source-file src="src/phonebookcontacts/Phonebook.java" target-dir="src/com/anzma/phonebook" />      
     </platform>          
</plugin>
